:root {
    --primary: #b6895b;
    --bg: #010101;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg);
    color: #ffffff;
}

html {
    scroll-behavior: smooth;
}

/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: rgba(1, 1, 1, 0.8);
    border-bottom: 1px solid #513c28;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar .navbar-logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: #ffffff;
    font-style: italic;
}

.navbar .navbar-logo span {
    color: var(--primary);  
}

.navbar .navbar-nav a {
    color: #ffffff;
    display: inline-block;
    font-size: 0.9rem;
    font-weight: 500;
    margin: 0 0.5rem;
}

.navbar .navbar-nav a:hover {
    color: var(--primary);
}

.navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem  solid var(--primary);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
}

.navbar .navbar-extra a {
    color: #ffffff;
    margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
    color: var(--primary);
    transition: 0.2s;
}

.navbar .navbar-extra a.active {
    opacity: 0;
}

#hamburger-menu {
    display: none;
}

/* navbar search form */
.navbar .search-form {
    position: absolute;
    right: 9.5%;
    background-color: #ffffff30;
    width: 10rem;
    height: 3rem;
    display: flex;
    align-items: center;
    border-radius: 1.5rem;
    overflow: hidden;
    opacity: 0;
    transform: translateX(0rem) scale(0.95);
    pointer-events: none;
    transition: all .3s ease;
    -webkit-transform: translateX(0rem) scale(0.95);
    -moz-transform: translateX(0rem) scale(0.95);
    -ms-transform: translateX(0rem) scale(0.95);
    -o-transform: translateX(0rem) scale(0.95);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
}

.navbar .search-form.active {
    opacity: 1;
    width: 20rem;
    transform: translateX(0) scale(1);
    pointer-events: auto;
    -webkit-transform: translateX(0) scale(1);
    -moz-transform: translateX(0) scale(1);
    -ms-transform: translateX(0) scale(1);
    -o-transform: translateX(0) scale(1);
}

.navbar .search-form input {
    height: 100%;
    width: 100%;
    font-size: 1.2rem;
    background-color: transparent;
    color: #fff;
    padding: 1rem;
    appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    outline: none;
}

.navbar .search-form input:-webkit-autofill,
.navbar .search-form input:-webkit-autofill:hover,
.navbar .search-form input:-webkit-autofill:focus,
.navbar .search-form input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
    box-shadow: 0 0 0 1000px transparent inset !important;
    -webkit-text-fill-color: #fff !important;
    caret-color: #fff;
}


.navbar .search-form label {
    cursor: pointer;
    margin-right: .85rem;
    color: #fff;
}

/* Kunci warna teks autofill */
.navbar .search-form input:-webkit-autofill {
    animation-name: autofill-fix;
    animation-fill-mode: both;
}

/* Animasi dummy untuk paksa Chrome patuh */
@keyframes autofill-fix {
    0% {
        -webkit-text-fill-color: #fff;
        caret-color: #fff;
    }
    100% {
        -webkit-text-fill-color: #fff;
        caret-color: #fff;
    }
}

/* shopping cart */
.shopping-cart {
    position: absolute;
    top: 100%;
    right: -100%;
    height: 100vh;
    width: 35rem;
    padding: 0 1.5rem;
    color: #000000;
    background-color: #ffffff90;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
}

.shopping-cart.active {
    right: 0;
}

.shopping-cart .cart-item {
    margin: 2rem 0;
    display: flex;
    position: relative;
    align-items: center;
    gap: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px dashed #666;
}

.shopping-cart img {
    height: 6rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.shopping-cart h3 {
    font-size: 1.5rem;
    padding-bottom: .4rem;
}

.shopping-cart .item-price {
    font-size: 1.1rem;
}

.shopping-cart .remove-item {
    position: absolute;
    right: 1rem;
    cursor: pointer;
}

.shopping-cart .remove-item:hover {
    color: var(--primary);
}

/* hero section */
.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('../img/bg-kedaikopi.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 30%;
    background: linear-gradient(0deg, rgba(1, 1, 3, 1) 8%, rgba(255, 255, 255, 0) 50%);
    bottom: 0;
}

.hero .content {
    padding: 1.4rem 7%;
    max-width: 60rem;
}

.hero .content h1 {
    font-size: 3.5em;
    color: white;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    line-height: 1.2;
}

.hero .content h1 span {
    color: var(--primary);
}

.hero .content p {
    font-size: 1.1rem;
    margin-top: 1rem;
    line-height: 1.3;
    font-weight: 100;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    mix-blend-mode: difference;
}

.hero .content .cta {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.2rem;
    color: #ffffff;
    background-color: var(--primary);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}

/* about section */
.about, .menu, .contact, .products {
    padding: 7.5rem 7% 1.4rem;
}

.about h2, .menu h2, .contact h2, .products h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 3rem;
}

.about h2 span, .menu h2 span, .contact h2 span, .products h2 span {
    color: var(--primary);
}

.about .row {
    display: flex;
}

.about .row .about-img {
    flex: 1 1 45rem;
}

.about .row .about-img img {
    width: 100%;
}

.about .row .content {
    flex: 1 1 35rem;
    padding: 0 1rem;
}

.about .row .content h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.about .row .content p {
    margin-bottom: 0.8rem;
    font-size: 1.3rem;
    font-weight: 100;
    line-height: 1.4;
}

/* Menu Section */
.menu h2, .contact h2, .products h2 {
    margin-bottom: 1rem;
}

.menu p, .contact p, .products p {
    text-align: center;
    max-width: 30rem;
    margin: auto;
    font-weight: 100;
    line-height: 1.4;
}

.menu .row {
    display: flex;
    flex-wrap: wrap;
    margin-top:  4rem;
    justify-content: center;
}

.menu .row .menu-card {
    text-align: center;
    padding-bottom: 4rem;
    margin: 0 -10rem 0;
}

.menu .row .menu-card img {
    border-radius: 50%;
    width: 30%;
}

.menu .row .menu-card .menu-card-title {
    margin: 1rem auto 0.5rem;
}

/* Products Section */
.products .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    margin-top: 2rem;
}

.products .product-card {
    text-align: center;
    border: 1px solid #666;
    padding: 2rem;
}

.products .product-icons {
    display: flex;
    justify-content: center;
    gap: .5rem;
}

.products .product-icons a {
    width: 3.5rem;
    height: 3.5rem;
    color: #fff;
    margin: .3rem;
    border: 1px solid #666;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.products .product-icons a:hover {
    background-color: var(--primary);
    border: 1px solid var(--primary);
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
}

.products .product-img {
    padding-top: 1rem;
    height: 20rem;
}

.products .product-content h3 {
    padding-top: 2.9rem;
    font-size: 1.6rem;
}

.products .product-stars {
    font-size: 1.7rem;
    padding: .4rem;
    color: var(--primary);
}

.products .product-stars .star-full {
    fill: var(--primary);
}

.products .product-price {
    font-size: 1.3rem;
    font-weight: bold;
}

.products .product-price span {
    text-decoration: line-through;
    font-weight: lighter;
    font-size: 1rem;
}

/* Contact Section */
.contact .row {
    display: flex;
    margin-top: 1.5rem;
    height: 470px;
    background-color: #222;
}

.contact .row .map {
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form {
    flex: 1 1 45rem;
    padding: 1.3rem 2rem;
    text-align: center;
}

.contact .row form .input-group {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    background-color: var(--bg);
    border: 1px solid #eee;
    padding-left: 2rem;
}

.contact .row form .input-group input {
    width: 100%;
    padding: 1.8rem;
    font-size: 1.1rem;
    background: none;
    color: #ffffff;
}

.contact .row form .btn {
    margin-top: 2rem;
    display: inline;
    padding: 1rem 3rem;
    font-size: 1.5rem;
    color: #ffffff;
    background-color: var(--primary);
    cursor: pointer;
}

/* Footer */
footer {
    background-color: var(--primary);
    text-align: center;
    padding: 1rem 0 3rem;
    margin-top: 3rem;
}

footer .sosial {
    padding: 1rem 0;
}

footer .sosial a {
    color: #ffffff;
    margin: 1rem;
}

footer .sosial a:hover, footer .links a:hover {
    color: var(--bg);
}

footer .links {
    margin-bottom: 1.4rem;
}

footer .links a {
    color: #ffffff;
    padding: 0.7rem .7rem;
}

footer .credit {
    font-size: .8rem;
}

footer .credit a {
    color: var(--bg);
    font-weight: 700;
}

/* media queries */
/* laptop */
@media (max-width: 1366px) {
    html {
        font-size: 75%;
    }
    .products .product-img img {
        height: 20rem;
    }
}

/* tablet */ 
@media (max-width: 768px) {
    html {
        font-size: 62.5%;
    }

    #hamburger-menu {
        display: inline-block;
    }

    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: #00000060;
        width: 25rem;
        height: 100vh;
    }

    .navbar .navbar-nav.active {
        right: 0;
    }

    .navbar .navbar-nav a {
        color: #ececec;
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 1.5rem;
    }

    .navbar .navbar-nav a::after {
        transform-origin: 0 0;
    }

    .navbar .navbar-nav a:hover::after {
        transform: scaleX(0.2);
        -webkit-transform: scaleX(0.2);
        -moz-transform: scaleX(0.2);
        -ms-transform: scaleX(0.2);
        -o-transform: scaleX(0.2);
    }

    .navbar .search-form {
        width: 80%;
        right: 22%;
        height: 3.3rem;
    }

    .navbar .search-form input {
        font-size: 1.6rem;
    }

    .about .row {
        flex-wrap: wrap;
    }

    .about .row .about-img img {
        height: 24rem;
        object-fit: cover;
        object-position: center;
    }

    .about .row .content {
        padding: 0;
    }

    .about .row .content h3 {
        margin-top: 1rem;
        font-size: 2rem;
    }

    .about .row .content p {
        font-size: 1.6rem;
    }

    .menu p {
        font-size: 1.2rem;
    }

    .contact .row {
        flex-wrap: wrap;
        height: 600px;
    }

    .contact .row .map {
        height: 30rem;
    }

    .contact .row form {
        padding-top: 0;
    }

    .products .product-img img {
        height: 20rem;
    }
}

/* handphone */ 
@media (max-width: 450px) {
    html {
        font-size: 55%;
    }
}